{% extends "layout.html" %}
{% block titulo %} Clientes {% endblock %}
{% block contenido %}
    <div class="container">
        <h3>Clientes</h3>
        <a href="" class="btn btn-primary">Agregar</a>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>CC / Nit</th>
                    <th>Nombre</th>
                    <th>Telefono</th>
                    <th>Direccion</th>
                    <th>Estado</th>
                    <th>Editar</th>
                    <th>Eliminar</th>
                </tr>
            </thead>
            <tbody>
                {% for cliente in Clientes %}
                <tr>
                    <td>{{cliente[0]}}</td>
                    <td>{{cliente[1]}}</td>
                    <td>{{cliente[2]}}</td>
                    <td>{{cliente[3]}}</td>
                    <td>{{cliente[4]}}</td>
                    <td>{{cliente[5]}}</td>
                    
                    <td>
                        <a href="" class="btn btn-success">Editar</a>
                    </td>
                    <td>
                        <form action="" method="POST" onSubmit="return confirm('Está seguro de eliminar este material?');">
                            <input type="hidden" name="id" value="{{cliente[0]}}">
                            <button class="btn btn-danger">Eliminar</button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>

        </table>
    </div>
{% endblock %}